.container {
    max-width: 600px;
    margin: 50px auto;
    padding:50px 50px 24px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position:relative;
}
.lang{
    position:absolute;
    top:15px;
    right:15px;
}
.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.input:focus {
    border-color: #007bff;
}

.button {
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background: #0056b3;
}

.message {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #555;
}