
.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 40px 20px 20px;
    border-radius:30px;
}
.language{
    position: absolute;
    right: 5px;
    top: 5px;
}
.signupForm {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding:2rem 4rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    position: relative;
}

.signupForm h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
}

.inputGroup {
    position: relative;
    margin-top: 1rem;
}

.inputIcon,.selectIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    
}
.selectIcon{
    z-index: 100;
}
/* Add to existing CSS */
.eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    cursor: pointer;
}
.inputGroup{
    display: flex;
    
}
.inputGroup input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}
.inputGroup .password,.inputGroup .confirmPassword{
    padding-right: 40px;
}
.inputGroup input:focus,.selectContainer:focus {
    outline: none;
    border: 1.8px solid rgb(0, 119, 255);
}
.signupButton {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
}

.signupButton:hover {
    background-color: #45a049;
}

.loginLink {
    margin-top: 1rem;
    text-align: center;
    color: #666;
}

.loginLink a {
    color: #4CAF50;
    text-decoration: none;
}

.loginLink a:hover {
    text-decoration: underline;
}
.selectContainer {
    width: 200px;
    font-size: 1.08rem;
    border-radius: 9px;
    margin-right: 0;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    background: #fff;
    color:black;
    box-shadow: 0 1px 4px rgba(144, 202, 249, 0.08);
    max-width: 100%;
    justify-self: center;
    box-sizing: border-box;
    appearance: none;
}
input::placeholder{
    font-weight: 500;
    font-size: 17px;
}
.error {
    color: #d7263d;
    font-size: small;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.01em;
    text-align: end;
    width: 98%;
    max-width: 98%;
}
/* Responsive adjustments */
@media (max-width: 480px) {
    .signupForm {
        padding: 1.5rem;
    }
}